.App {
  text-align: center;
  /* background-image: url("./desk.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background-color: lightcyan;
  height: 100vh;
  font-family: monospace;
}
.todoList {
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #ffffffa8;
  font-size: 16px;
}

.task {
  display: flex;
  justify-content: space-between;
  line-break: anywhere;
  text-align: left;
  margin: 10px 0 10px 0;
}
button {
  width: 25px;
  height: 21px;
}
.inputContainer {
  margin-bottom: 15px;
}
.inputContainer button {
  width: 40px;
}
img {
  width: 100%;
}
.header {
  position: relative;
}
.entry {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inputContainer {
  display: flex;
}
